<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4"><%= @final_output %></h1>
  <p class="lead"><%= @api_description %></p>
  <hr class="my-4">
  <p>This is the current air quality index for <strong>Beijing, China</strong></p>
</div>

<br/>

