
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>City</th>
      <th>AQI</th>
    </tr>
  </thead>
  <tbody>
  <% @cities.each do |city| %>
    <% @url = 'https://api.waqi.info/feed/'+ city.name + '/?token=5bc9d9e4e31f41d07c589fae2cf23b4e2dfbbe90' %>
    <% @uri = URI(@url) %>
    <% @response = Net::HTTP.get(@uri) %>
    <% @output = JSON.parse(@response) %>
    <tr>
      <td><%= city.name %></td>
      <td style="background-color:<%= @api_color %>;"><%= @output['data']['aqi'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Add a City', new_city_path, class: "btn btn-secondary" %>